.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/LongestSecuence
bin/Debug/net6.0/LongestSecuence.deps.json
bin/Debug/net6.0/LongestSecuence.dll
bin/Debug/net6.0/LongestSecuence.pdb
bin/Debug/net6.0/LongestSecuence.runtimeconfig.json
bin/Debug/net7.0/LongestSecuence
bin/Debug/net7.0/LongestSecuence.deps.json
bin/Debug/net7.0/LongestSecuence.dll
bin/Debug/net7.0/LongestSecuence.pdb
bin/Debug/net7.0/LongestSecuence.runtimeconfig.json
obj/LongestSecuence.csproj.nuget.dgspec.json
obj/LongestSecuence.csproj.nuget.g.props
obj/LongestSecuence.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/LongestSecuence.AssemblyInfo.cs
obj/Debug/net6.0/LongestSecuence.AssemblyInfoInputs.cache
obj/Debug/net6.0/LongestSecuence.assets.cache
obj/Debug/net6.0/LongestSecuence.csproj.AssemblyReference.cache
obj/Debug/net6.0/LongestSecuence.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/LongestSecuence.csproj.FileListAbsolute.txt
obj/Debug/net6.0/LongestSecuence.dll
obj/Debug/net6.0/LongestSecuence.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/LongestSecuence.genruntimeconfig.cache
obj/Debug/net6.0/LongestSecuence.GlobalUsings.g.cs
obj/Debug/net6.0/LongestSecuence.pdb
obj/Debug/net6.0/ref/LongestSecuence.dll
obj/Debug/net6.0/refint/LongestSecuence.dll
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost
obj/Debug/net7.0/LongestSecuence.AssemblyInfo.cs
obj/Debug/net7.0/LongestSecuence.AssemblyInfoInputs.cache
obj/Debug/net7.0/LongestSecuence.assets.cache
obj/Debug/net7.0/LongestSecuence.csproj.AssemblyReference.cache
obj/Debug/net7.0/LongestSecuence.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/LongestSecuence.csproj.FileListAbsolute.txt
obj/Debug/net7.0/LongestSecuence.dll
obj/Debug/net7.0/LongestSecuence.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/LongestSecuence.genruntimeconfig.cache
obj/Debug/net7.0/LongestSecuence.GlobalUsings.g.cs
obj/Debug/net7.0/LongestSecuence.pdb
obj/Debug/net7.0/ref/LongestSecuence.dll
obj/Debug/net7.0/refint/LongestSecuence.dll
.DS_Store
